<div class="card set-margin">
    <div class="card-header">
        <span>Building</span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Limit">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Roof Type">
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Area">
              </div>
            </div>
        </div>
        <!-- <app-clasifications></app-clasifications> -->        
    </div>
</div>
<div class="row add-buld-butt">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <button type="button" class="btn btn-primary add-location-button button-css">+ Add Building</button>
  </div>
</div>